body {
    background-image: url(../img/starwarsslotmachine.png);
    background-repeat: no-repeat;
    background-color: #000000;
    color: yellow;
}

ul#playerStats {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

div#spinButton {
    position: absolute;
    left: 270px;
    top: 750px;

}

li#jackpot {
    position: absolute;
    left: 309px;
    top: 618px;
    color: yellow;
    text-align: center;
    width: 203px;

}

li#playerMoney {
    position: absolute;
    left: 60px;
    top: 694px;
    width: 150px;
    text-align: center;

}

div#betEntry {
    position: absolute;
    left: 336px;
    top: 694px;

}

div#winOrLose {
    margin: 0;
    position: absolute;
    width: 150px;
    text-align: center;
    left: 610px;
    top: 680px;
}

input#playerBet {
    background: transparent;
    border: 0;
    text-align: center;
    width: 150px;
    color: yellow;

}